.jumbotron {
  background-image:url('background.jpg');
  height: 770px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: white;
  font-size: 50px;  
  font-family: 'Abril Fatface', cursive;
  text-shadow: 4px 4px 4px #aaa;
}

.jumbotron p {
  font-size: 16px;
}

.jumbotron form {
  background:rgba(255,255,255,0.5);
  font-size: 20px;
  padding: 5%;
  min-width: 50%;
  margin-left: 20%;
  margin-right: 20%;
} 

.jumbotron .bg-info {
  background:rgba(255,255,255,0.5);
  min-width:50%;
  margin-left: 20%;
  margin-right: 20%;

}